*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter',sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    border: none;
    outline: none;
}

:root{
    --bg-color: #191919;
    --second-bg-color: #101010;
    --main-color: #e9204f;
    --text-color:#fff;
    --second-color: #e4e4e4;
    --other-color: #c6c9d8bf;

    --h1-font: 5.8rem;
    --h2-font: 3.5rem;
    --p-font: 1.1rem;
}
section{
    max-width: 1400px;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 60px 20px;
}
body{
    color: var(--text-color);
    background-color: var(--bg-color);
}
header{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 28px 11%;
    border-bottom: 1px solid transparent;
    transition: all ease 0.5s;
    max-width: 1400px;
}
.hero-text, .about-img, .about-text, .service-item, .left-contact, .right-contact {
    max-width: 1400px; /* Adjust as needed */
    margin: 0 auto;
}
.logo img{
    width: 100%;
    height: auto;
    background-color: var(--bg-color);
}
.nav-list{
    display: flex;
}
.nav-list a{
    color: var(--second-color);
    font-size: var(--p-font);
    font-weight: 600;
    margin: 0 40px;
    transition: all 0.5s ease;
}
.nav-list a:hover{
   color: var(--main-color);   
}
.nav-list a.active {
    color: var(--main-color);
    border-radius: 4px;
}

#menu-icon{
    font-size: 42px;
    color: var(--text-color);
    z-index: 1001;
    display: none;
}
section{
    padding: 120px 19% 100px;
}
.home{
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-image: url('assets/images/Screenshot (70).png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.hero-text h3{
    color: var(--second-color);
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 15px;
    word-spacing: 10px;
}
.hero-text h1{
    font-family: 'Dosis', sans-serif;
    font-size: var(--h1-font);
    color: var(--text-color);
    font-weight: 600;
    margin-bottom: 20px;
    letter-spacing: 2px;
}
.hero-text h4{
    color: var(--main-color);
    font-size: 25px;
    font-weight: 600;
    word-spacing: 5px;
    margin-bottom: 3.5rem;
}
.hero-text p{
    margin-bottom: 30px;
}
.btn{
    display: inline-block;
    padding: 16px 45px;
    border-radius: 30px;
    background: var(--main-color);
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 600;
    border: 2px solid var(--main-color);
    transition: all .3s ease;
}
.btn:hover{
    transform: translateX(5px);
    background: transparent;
    border: 2px solid var(--main-color);
}
header.sticky{
    padding: 15px 11%;
    background: #000;
    border-bottom: 1px solid #4e5055;
}
.about{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    align-items: center;
    gap: 4rem;
    background: var(--bg-color);
}
.about-img img{
    width: 100%;
    height: auto;
    border-radius: 30px;
}
.about-text h2{
    font-family: 'Dosis',sans-serif;
    font-size: var(--h2-font);
    font-weight: 600;
    margin-bottom: 10px;
}
.about-text h5{
    font-size: 22px;
    margin-bottom: 20px;
    line-height: 1.4rem;
}
span{
    color: var(--main-color);
}
.about-text p{
    color: var(--other-color);
    font-size: var(--p-font);
    line-height: 30px;
    margin-bottom: 3rem;
}
.services{
    background: var(--second-bg-color);
}
.text-center{
    text-align: center;  
}
.text-center h2{
    font-weight: 600;
    font-family: 'Dosis', sans-serif;
    font-size: var(--h2-font);
    margin-bottom: 10px;  
}
.service-item{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    align-items: center;
    gap: 2.5rem;
}
.service-box{
    padding: 45px 30px;
    background: var(--bg-color);
    border-radius: 0.8rem;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all .2s ease;
}
.service-box:hover{
    transform: scale(1.15);
}
.services i{
    font-size: 50px;
    color: var(--main-color);
    margin-bottom: 10px;
}
.services h3{
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 12px;
}
.services p{
    color: var(--other-color);
    font-size: var(--p-font);
    line-height: 30px;
    margin-bottom: 1.5rem;
}
.s-btnn{
    display: inline-block;
    padding: 9px 24px;
    background: var(--main-color);
    color: var(--text-color);
    font-size: 15px;
    font-weight: 500;
    border-radius: 30px;
    transition: all .2s ease;
}
.s-btnn:hover{
    background: transparent;
    border: 2px solid var(--main-color);
    transform: scale(1.2);
}
.portfolio{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    align-items: center;
    gap: 5rem;
    background: var(--bg-color);
}
.left-contact{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 2.2rem;
}
.in i{
    color: var(--main-color);
    opacity: 0.5;
    font-size: 120px;
    margin-bottom: 15px;
    transition: all .2s ease;
}
.in i:hover{
    opacity: 1;
    cursor: pointer;
    transform: rotate3d(0, 0, 1, 360deg);
}
.in h4{
    font-size: 27px;
    font-weight: 600;
    letter-spacing: 1px;
}
.right-contact h2{
    font-family: 'Dosis',sans-serif;
    font-size: var(--h2-font);
    font-weight: 800;
    margin-bottom: 5px;
}
.right-contact a{
    display: inline-block;
    color: var(--main-color);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    letter-spacing: 2px;
    border-bottom: 2px solid var(--main-color);
    padding: 3px 0;
    transition: all .2s ease;
}
.right-contact a:hover{
    transform: translateY(-5px);
    color: var(--text-color);
    border-bottom: 2px solid var(--text-color);
}
.right-contact p{
    color: var(--other-color);
    font-size: var(--p-font);
    line-height: 30px;
}
.end-section{
    padding: 80px 19% 70px;
    background: var(--second-bg-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;   
}
.end-section h3{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
}
.end-section p{
    color: var(--other-color);
    font-size: var(--p-font);
    line-height: 30px;
    margin-bottom: 20px;
}
.end-section i{
    height: 40px;
    width: 40px;
    background: var(--main-color);
    color: var(--text-color);
    border: 2px solid var(--main-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 50%;
    margin: 0 9px;
    transition: all .4s ease;
}
.end-section i:hover{
    transform: translateY(-10px);
    background: transparent;
    border: 2px solid var(--main-color);
}
.scroll-btn{
    position: fixed;
    right: 2.2rem;
    bottom: 2.2rem;
    color: var(--text-color);
    background: var(--main-color);
    font-size: 22px;
    padding: 9px;
    border-radius: 0.8rem;
}

@media(max-width:1600px){
    header{
        padding: 14px 4%;
    }
    header.sticky{
        padding: 8px 4%;
    }
    section{
        padding: 100px 5% 80px;
    }
}
@media(max-width:1200px){
    .home{
        min-height: 90vh;
    }
    .nav-list a{
        margin: 0 20px;
    }
    :root{
        --h1-font: 5rem;
        --h2-font: 3.0rem;
        --p-font: 1rem;
    }
}
@media(max-width:1060px){
    .about{
        grid-template-columns: 1fr;
    }
    .about-img{
        text-align: center;
        order: 2;
    }
    .about-img img{
        max-width: 100%;
        width: 600px;
        height: auto;  
    }
    .service-item{
        grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    }
    .portfolio{
        grid-template-columns: 1fr;
    }
    .left-contact{
        margin: auto;
    }
}
@media(max-width:870px){
    #menu-icon{
        display: block;
    }
    .nav-list{
        position: absolute;
        top: -800px;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        background: #000;
        padding: 20px 0;
        text-align: left;
        transition: all .5s ease;
    }
    .nav-list a{
        display: block;
        font-size: 32px;
        padding: 12px 0;
    }
    .nav-list.open{
        top: 100%;
    }
}
@media(max-width:660px){
    .home{
        min-height: 80vh;
    }
    :root{
        --h1-font: 3.8rem;
        --h2-font: 2.5rem;
        --p-font: 15px;
    }
    .hero-text h4{
        font-size: 18px;
        word-spacing: 10px;
        margin-bottom: 30px;
    }
    .btn{
        padding: 10px 35px;
    }
    .left-contact{
        gap: 3rem;
    }
    .in i{
        font-size: 80px;
    }
    .in h4{
        font-size: 20px;  
    }
}
@media(max-width:460px){
    :root{
        --h1-font: 3.5rem;
        --h2-font: 2.2rem;
    } 
    .hero-text h4{
        font-size: 16px;
        word-spacing: 7px;
    }
}
fieldset{
    display: inline-block;
    background-color: var(--bg-color);
    width: 70%;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}
form{
    display: inline-block;
    border-radius: 10px;
    width: 100%;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: var(--bg-color); /* Optional: adds a background color to the form */

}
input, textarea{
    box-shadow: 2px solid var(--main-color);
    border-radius: 3px;
    border-color: var(--main-color);
    width: 100%; /* Makes the input take full width of its container */
    /*max-width: 500px; /* Adjust the maximum width as needed */
    padding: 10px; /* Adds inner padding for better visualization */
    box-sizing: border-box;

}
label{
    text-shadow: 1px;
    color: var(--main-color);
    font-weight: 600;
    font-size: large;
}
legend{
    text-align: center;
    text-shadow: 1px;
    font-weight: bold;
    font-family:'Dosis', sans-serif;
    font-size: 48px;
    color: var(--main-color);
    font-size: larger;
    margin-bottom: 10px;
}
#submit{
    display: inline-block;
    padding: 9px 24px;
    background: var(--main-color);
    color: var(--text-color);
    font-size: 15px;
    font-weight: 500;
    border-radius: 30px;
    transition: all .5s ease;
}
#submit:hover{
    background: transparent;
    border: 2px solid var(--main-color);
    transform: scale(1.1);   
}
.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--second-bg-color);
    height: 100vh; /* Adjust this as needed */
    padding: 20px;
    max-width: 600px;
    width: 100%;
    margin: 0 auto; /* Centers the form within the section */
    background: var(--bg-color); /* Optional: adds a background color to the form */
    opacity: 1.0;
    padding: 20px; /* Optional: adds some padding inside the form */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: adds a slight shadow for better visualization */
    border-radius: 8px; /* Optional: rounds the corners */
    transition: all .5s ease;
}
.form{
    width: 100%;
    max-width: 600px; /* Adjust this as needed */
    margin: 0 auto; /* Centers the form within the section */
    background: var(--bg-color); /* Optional: adds a background color to the form */
    opacity: 1.0;
    padding: 20px; /* Optional: adds some padding inside the form */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: adds a slight shadow for better visualization */
    border-radius: 8px; /* Optional: rounds the corners */
    transition: all .5s ease;
}
label, input[type="text"], textarea {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

input[type="text"], textarea {
    margin-top: 8px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    resize: vertical; /* Allow vertical resizing */
}
.contact h2{
    font-family: 'Dosis',sans-serif;
    font-size: var(--h2-font);
    font-weight: 600;
    margin-bottom: 10px;
}
.contact-text{
    text-align: center;
}

@media screen and (max-width:550px){
    fieldset{
        width: 40%;
        display:block;
    }
    input, textarea{
        min-width: 300px;
    }
}